#modallogin {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

#modallogin2 {
    text-align: left;
    background-color: #f9f9f9;
}