<section>
    <link href="../../../IMDbApp/Content/Ajuda.css" rel="stylesheet" />
    <div class="container" style="font-family:Rockwell;">
        <h1 style="padding-bottom:20px">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            PERGUNTAS MAIS FREQUENTES
        </h1>
        <div style="font-size:large" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="panel-title">
                        <a style="font-size:x-large" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Onde posso dar sugestões para a aplicação?
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Nesta mesma página pode encontrar no final um botão que lhe permite preencher um formulário onde pode elogiar ou reclamar algum aspeto sobre a aplicação, dar sugestões ou até mesmo pedir uma qualquer informação! Esperamos ter ajudado
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3 class="panel-title">
                        <a style="font-size:x-large" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            De onde vêm as informações desta aplicação?
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Esta aplicação foi criada a partir da base de dados IMDb, uma base de dados online de informação sobre música, cinema, filmes, programas de TV, etc... Esperamos ter ajudado
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h3 class="panel-title">
                        <a style="font-size:x-large" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Como funciona o vosso top 3?
                        </a>
                    </h3>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        O nosso top  3 é um pouco pessoal uma vez que os filmes lá colocados são um pouco influenciados pelos gostos dos criadores desta aplicação. No entanto, os filmes são escolhidos também de acordo com as avaliações feitas aos filmes e pelo feedback dado pelo público. Esperamos ter ajudado
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h3 class="panel-title">
                        <a style="font-size:x-large" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Ando à procura de um filme mas não me consigo lembrar do título... podem ajudar?
                        </a>
                    </h3>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        É claro que sim! Tentamos sempre responder a todas as perguntas que nos são feitas e apelamos a que o façam através do formulário que se pode encontrar no fim desta mesma página. Esperamos ter ajudado
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h1 class="panel-title">
                        <a style="font-size:x-large" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Pretendem melhorar a aplicação no futuro?
                        </a>
                    </h1>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        Esta aplicação está em constante atualização e tencionamos adicionar mais informações e novos temas! Pode sempre dar sugestões a partir do formulário que encontra mais abaixo nesta página. Esperamos ter ajudado
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-md-1">
            </div>
            <div style="text-align:center; color:white; font-size:large; background-color:#808080" class="col-md-10 form-control-static">
                Outra dúvida? Caso não tenha encontrado resposta às suas dúvidas, poderá utilizar o formulário para solicitar um pedido de informação (ou reclamar, elogiar ou fazer sugestões)! <br /><div style="color:black; padding-top:10px"><button data-toggle="modal" data-target="#myModal">Formulário</button></div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <footer class="container-fluid" style="width:100%;background-color:#282727; font-family:Rockwell; font-size:medium; color:white;">
        <div class="col-lg-1"></div>
        <div style="font-size:20px" class="col-xs-6 col-lg-3">Siga-nos! <i class="fa fa-facebook-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"> </i> <i class="fa fa-youtube-play" aria-hidden="true"></i> </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div style="text-align:right" class="col-xs-6 col-lg-6"> Gosta do que vê? Deixe-nos a sua opinião <a href="#Ajuda" style="color:white"><u>aqui</u></a> e preencha o formulário<br />ITW APP &copy; Made by Daniel and Pedro</div>
        <div class="col-lg-1"></div>
    </footer>
    <div style="font-size:medium" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="modallogin">
                    <button id="modallogin" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modallogin" style="color:red;"> Formulário</h4>
                </div>
                <div class="modal-body">
                    <form action="http://192.168.160.36/FormEcho.aspx" role="form">
                        <div class="form-group">
                            <label for="nome"> Nome:</label>
                            <input type="text" name="nome" class="form-control" id="nome" required>
                            <div id="nome_Error" class="no_error form-control-static text-danger bg-danger">&nbsp;<i class="fa fa-exclamation-triangle"></i>O nome deve ter pelo menos 3 letras!&nbsp;</div>
                        </div>
                        <div class="form-group">
                            <label for="email"> Email:</label>
                            <input type="text" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="idade"> Idade:</label>
                            <input type="number" placeholder="Digite a sua idade através do uso das setas" name="idade" min="1" max="120" class="form-control" id="idade">
                        </div>
                        <div class="form-group">
                            <label for="usrname"> Assunto:</label>
                            <select name="assunto" class="form-control">
                                <option class="form-control" name="pedidodeinformacao">Pedido de Informação</option>
                                <option class="form-control" name="reclamacao">Reclamação</option>
                                <option class="form-control" name="elogiar">Elogiar</option>
                                <option class="form-control" name="sugestao">Sugestão</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mensagem"> Mensagem:</label>
                            <textarea class="form-control" name="mensagem" rows="5" placeholder="Insira o seu comentário" required></textarea>
                        </div>
                        <div style="padding-bottom:50px">
                            <div class="col-md-6" style="float:left; width:50%"><button type="submit" class="btn btn-default btn-success btn-block"> Submeter</button></div>
                            <div class="col-md-6" style="float:left; width:50%; "><button type="reset" class="btn btn-default btn-success btn-block"> Apagar</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>