<section>
    <link href="../../../IMDbApp/Content/Modal.css" rel="stylesheet" />
    <div style="background-image:url(http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg)">
        <div class="container" style="background-color:white; padding-bottom:60px">
            <div class="page-header" style="background-color:white;">
                <h2>Filmes<small data-bind="visible: (moviesCount() > 0)"> (<span data-bind="text: moviesCount"></span>)</small></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Filme:</span>
                        <input type="text" id="moviesTitle" class="form-control" data-bind="value : searchText" aria-describedby="basic-addon1" placeholder="Nome do filme" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="searchBtn" data-bind="click: searchMovies, disable : searchTextGood"><i class="fa fa-search"></i></button>
                    <button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearMovies"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <hr />
            <div class="row" data-bind="foreach: movies">
                <div class="col-md-4">
                    <div><i class="fa fa-film"></i> <a style="color:black; font-size:medium" href="" data-toggle="modal" data-target="#myModal" data-bind="text: movie_title, click: movieDetails"></a></div>
                </div>
            </div> <span class="alert alert-danger col-md-12" data-bind="visible: error, html: error"></span>
        </div>
        <footer class="container-fluid" style="width:100%;background-color:#282727; font-family:Rockwell; font-size:medium; color:white;">
            <div class="col-lg-1"></div>
            <div style="font-size:20px" class="col-xs-6 col-lg-3">Siga-nos! <i class="fa fa-facebook-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"> </i> <i class="fa fa-youtube-play" aria-hidden="true"></i> </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div style="text-align:right" class="col-xs-6 col-lg-6"> Gosta do que vê? Deixe-nos a sua opinião <a href="#Ajuda" style="color:white"><u>aqui</u></a> e preencha o formulário<br />ITW APP &copy; Made by Daniel and Pedro</div>
            <div class="col-lg-1"></div>
        </footer>
    </div>
    <div id="myModal" class="modal modal-wide fade " tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" data-bind="foreach: movieID">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><b>Detalhes sobre o</b> "<span data-bind="text: movie_title"></span>"</h4>
                </div>
                <div class="modal-body">
                    <img style="width:100%;max-width:300px;max-height:400px;float:right;" data-bind="attr: {src : (poster == '/images/noposter.png' ? 'https://az853139.vo.msecnd.net/static/images/not-found.png' : poster)}" />
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="2"><b>Nome:</b> <span id="movie_title" data-bind="text: movie_title"></span></td>
                                    <td><b>Cor/PB:</b> <span data-bind="text:color"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Ano:</b> <span data-bind="text: title_year"></span></td>
                                    <td><b>País:</b> <span data-bind="text: countryName"></span></td>
                                    <td><b>Língua:</b> <span data-bind="text: languageName"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Atores:</b> <span data-bind="foreach: movie_actors"><span data-bind="text: actorName"></span>, </span></td>
                                    <td><b>Diretor:</b> <span data-bind="text:directorName"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Géneros:</b> <span data-bind="foreach: genres"><span data-bind="text:genreName"></span>, </span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Palavras-chave:</b> <span data-bind="text: plot_keywords"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>IMDb Link:</b> <a data-bind="attr:{href:movie_imdb_link},text: movie_imdb_link"></a></td>
                                    <td><b>Pontuação IMDb:</b> <span data-bind="text: imdb_score"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Proporção do ecrã:</b> <span data-bind="text: aspect_ratio"></span></td>
                                    <td><b>Duração (min):</b> <span data-bind="text: duration"></span></td>
                                    <td><b>Classificação do conteúdo:</b> <span data-bind="text: content_rating"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Orçamento ($):</b> <span data-bind="text: budget"></span></td>
                                    <td><b>Retorno ($):</b> <span data-bind="text: gross"></span></td>
                                    <td><b>Criticas de avaliadores:</b> <span data-bind="text: num_critic_for_reviews"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Votos dos utilizadores:</b> <span data-bind="text: num_voted_users"></span></td>
                                    <td><b>Gostos no facebook do elenco:</b> <span data-bind="text: cast_total_facebook_likes"></span></td>
                                    <td><b>Gostos no facebook do filme:</b> <span data-bind="text: movie_facebook_likes"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>