<section>
    <div style="background-image:url(http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg)">
        <div class="container" style="background-color:white; padding-bottom:60px;font-family:Rockwell">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-width:50%; max-width:500px;display:block;margin-left:auto;margin-right:auto">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../../IMDbApp/Content/images/RogueOne.jpg" alt="Star Wars: Rogue One" style="display:block;margin-left:auto;margin-right:auto">
                        <div class="carousel-caption">
                            <button class="btn btn-link btn-xs" data-target="#myModal" data-toggle="modal" data-bind="click: trailer"><i class="fa fa-play-circle-o" style="font-size:45px;" aria-hidden="true"></i></button>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../../IMDbApp/Content/images/GrandTour.jpg" alt="Grand Tour" style="display:block;margin-left:auto;margin-right:auto">
                        <div class="carousel-caption">
                            <button class="btn btn-link btn-xs" data-target="#myModal" data-toggle="modal" data-bind="click: trailer2"><i class="fa fa-play-circle-o" style="font-size:45px;" aria-hidden="true"></i></button>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../../IMDbApp/Content/images/TheAccountant.jpg" alt="The Accountant" style="display:block;margin-left:auto;margin-right:auto">
                        <div class="carousel-caption">
                            <button class="btn btn-link btn-xs" data-target="#myModal" data-toggle="modal" data-bind="click: trailer3"><i class="fa fa-play-circle-o" style="font-size:45px;" aria-hidden="true"></i></button>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../../IMDbApp/Content/images/DoctorStrange.jpg" alt="Doctor Strange" style="display:block;margin-left:auto;margin-right:auto">
                        <div class="carousel-caption">
                            <button class="btn btn-link btn-xs" data-target="#myModal" data-toggle="modal" data-bind="click: trailer4"><i class="fa fa-play-circle-o" style="font-size:45px;" aria-hidden="true"></i></button>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
            <div class="container" style="width:100%; float:left">
                <div class="row">
                    <h1 style="border-bottom:solid;">O Nosso Top 3:</h1>
                    <br />
                    <br />
                    <img src="http://img.lum.dolimg.com/v1/images/rogueone_onesheeta_1000_309ed8f6.jpeg?region=0%2C0%2C1000%2C1481&width=480" style="width:100%; max-height:350px; max-width:250px; float:left; padding-left:15px; padding-right:50px; padding-bottom:15px" />
                    <div class="col-xs-12 col-lg-6" style="font-size:large; float:left; padding-bottom:50px">
                        <b>Género:</b> Ação, Aventura, Ficção<br />
                        <b>Data de estreia:</b> 15/12/2016<br />
                        <b>Título Original:</b> Rogue One: A Star Wars Story<br />
                        <b>Realizador:</b> Gareth Edwards<br />
                        <b>Actores:</b> Felicity Jones, Mads Mikkelsen, Ben Mendelsohn<br />
                        <b>País:</b> EUA<br />
                        <b>Ano:</b> 2016<br />
                        <b>Duração (minutos):</b> 135<br />
                        <b>Sinopse:</b> "Rogue One: Uma História de Star Wars" decorre antes dos eventos de "Star Wars: Uma Nova Esperança" e conta a história de uns heróis improváveis que se unem para roubar os planos da temida Estrela da Morte.
                    </div>
                </div>
                <div class="row">
                    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjMxOTM1OTI4MV5BMl5BanBnXkFtZTgwODE5OTYxMDI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" style="width:100%;max-height:350px; max-width:250px; float:left; padding-right:50px; padding-left:15px; padding-bottom:15px" />
                    <div class="col-xs-12 col-lg-6" style="font-size:large; float:left; padding-bottom:50px">
                        <b>Género:</b> Aventura, Ficção<br />
                        <b>Data de estreia:</b> 17/11/2016<br />
                        <b>Título Original:</b> Fantastic Beasts and Where to Find Them<br />
                        <b>Realizador:</b> David Yates <br />
                        <b>Actores:</b> Eddie Redmayne, Ezra Miller, Colin Farrell<br />
                        <b>País:</b> Reino Unido, EUA<br />
                        <b>Ano:</b> 2016<br />
                        <b>Duração (minutos):</b> 133<br />
                        <b>Sinopse:</b> Chegado a Nova Iorque para uma rápida estadia, poderia ter passado despercebido… se não fosse um SemMage (denominativo de Muggle, em Americano) chamado Jacob, uma mala mágica extraviada e a fuga de algumas das suas criaturas fantásticas, que vão lançar problemas quer ao mundo dos feiticeiros quer ao dos SemMages.
                    </div>
                </div>
                <div class="row">
                    <img src="http://cinemas.nos.pt/_layouts/15/Cinemas/Handlers/RenderImage.ashx?file=49255.png" style="width:100%;max-height:350px; max-width:250px; float:left; padding-left:15px; padding-right:50px; padding-bottom:15px" />
                    <div class="col-xs-12 col-lg-6" style="font-size:large; float:left; padding-bottom:50px;">
                        <b>Género:</b> Ação, Aventura<br />
                        <b>Data de estreia:</b> 27/10/2016<br />
                        <b>Título Original:</b> Doctor Strange<br />
                        <b>Realizador:</b> Scott Derrickson<br />
                        <b>Actores:</b> Rachel McAdams, Benedict Cumberbatch, Mads Mikkelsen<br />
                        <b>País:</b> EUA<br />
                        <b>Ano:</b> 2016<br />
                        <b>Duração (minutos):</b> 115<br />
                        <b>Sinopse:</b> Da Marvel Studios chega-nos “Doutor Estranho”, a história do mundialmente famoso neurocirurgião Dr. Stephen Strange cuja vida muda para sempre depois de um horrível acidente de carro que lhe rouba o uso das mãos. Quando a medicina tradicional falha, é forçado a procurar pela cura e esperança num lugar improvável
                    </div>
                </div>
                <div style="clear:both">
                    <h1 style="border-bottom:solid;">Parabéns!!</h1>
                    <div style="font-size:medium" class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="border:none"><img style="max-height:270px; max-width:170px;display:block;margin-left:auto;margin-right:auto" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNjA0MTU2NDY3MF5BMl5BanBnXkFtZTgwNDU4ODkzMzE@._V1_UX214_CR0,0,214,317_AL_.jpg" /></td>
                                    <td style="border:none"><img style="max-height:270px; max-width:170px;display:block;margin-left:auto;margin-right:auto" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTA1Nzg1NjI1NDZeQTJeQWpwZ15BbWU4MDg4MTU2MzAx._V1_UY317_CR20,0,214,317_AL_.jpg" /></td>
                                    <td style="border:none"><img style="max-height:270px; max-width:170px;display:block;margin-left:auto;margin-right:auto" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNjMzNzYwNV5BMl5BanBnXkFtZTgwMzk3NTg2NzE@._V1_UY317_CR88,0,214,317_AL_.jpg" /></td>
                                    <td style="border:none"><img style="max-height:270px; max-width:170px;display:block;margin-left:auto;margin-right:auto" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTY3ODcxMzAxMV5BMl5BanBnXkFtZTgwNzA3OTc0ODE@._V1_UY317_CR130,0,214,317_AL_.jpg" /></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;border:none"><a href="#">Jake Gyllenhaal </a><br /><span>(36 anos)</span></td>
                                    <td style="text-align:center; border:none"><a href="#">Marla Sokoloff </a><br /><span>(36 anos)</span></td>
                                    <td style="text-align:center; border:none"><a href="#">Scott Cohen </a><br /><span>(55 anos)</span></td>
                                    <td style="text-align:center; border:none"><a href="#">Amy Locane </a><br /><span>(45 anos)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div class="row" style="width:100%">
                    <h1 style="border-bottom:solid">Cinemas Perto De Si </h1>
                    <br />
                    <iframe width="1125"
                            height="450"
                            frameborder="0" style="max-width:1125px;width:100%; border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDM0ZNlzZS6wulKFOv1s6PARvuXmGI-paM&q=cinemas" allowfullscreen></iframe>
                    <h1 style="text-align:left;border-bottom:solid;">Brevemente!</h1>
                    <div class="col-xs-12 col-lg-6" style="float:left;text-align:center">
                        <h3>Fences (Dezembro 2016)</h3>
                        <img style="width:100%; max-height:350px; max-width:250px" src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTg0Nzc1NjA0MV5BMl5BanBnXkFtZTgwNTcyNDQ0MDI@._V1_UX182_CR0,0,182,268_AL_.jpg" />
                        <h3>Assassin's Creed (Dezembro 2016)</h3>
                        <img style="width:100%; max-height:350px; max-width:250px" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzE1OTczNTc1OF5BMl5BanBnXkFtZTgwMzgyMDI3MDI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" />
                    </div>
                    <div class="col-xs-12 col-lg-6" style="float:left;text-align:center">
                        <h3>The Bye Bye Man (Janeiro 2017)</h3>
                        <img style="width: 100%; max-height: 350px; max-width: 250px" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcxOTE5NzQwNF5BMl5BanBnXkFtZTgwOTMzMTc1ODE@._V1_UX182_CR0,0,182,268_AL_.jpg" />
                        <h3>Fifty Shades Darker (Fevereiro 2017)</h3>
                        <img style="width: 100%; max-height: 350px; max-width: 250px" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ5MjAyNjY3NF5BMl5BanBnXkFtZTgwMjY5OTAwMDI@._V1_UY1200_CR64,0,630,1200_AL_.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid" style="width:100%;background-color:#282727; font-family:Rockwell; font-size:medium; color:white;">
        <div class="col-lg-1"></div>
        <div style="font-size:20px" class="col-xs-6 col-lg-3">Siga-nos! <i class="fa fa-facebook-square" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"> </i> <i class="fa fa-youtube-play" aria-hidden="true"></i> </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div style="text-align:right" class="col-xs-6 col-lg-6"> Gosta do que vê? Deixe-nos a sua opinião <a href="#Ajuda" style="color:white"><u>aqui</u></a> e preencha o formulário<br />ITW APP &copy; Made by Daniel and Pedro</div>
        <div class="col-lg-1"></div>
    </footer>
    <div id="myModal" class="modal modal-wide fade " tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-bind="click: closeModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <iframe frameborder="0" style="width:100%;min-height:50px;min-width:150px" width="560" height="415" src="" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>